
body{
    background-color: #f0f2f5;
}

#horizontal_container{
    /* border: 2px solid tomato; */
   width: 100%;
   height: 720px;
   margin-top: 90px;
}
#vertical_container{
    width: 65%;
    height: 100%;
    /* border: 2px solid tomato; */
    margin: auto;
}

#horizontal_inner_container{
    width: 100%;
    height: 90%;
    /* border: 2px solid blue; */
    margin-top: 30px;
    
}

#form_outer_container{
    width: 500px;
    height: 600px;
    /* border: 2px solid red; */
    float: right;
    margin-top: 45px;
    
}
#form_inner_container{
    width: 100%;
    height: 75%;
    /* border: 2px solid lightgray; */
    margin-top: 0px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   
}

#facebook_email, #facebook_password{
    width: 440px;
    height: 60px;
    margin: 16px 0px 0px 16px;
    border-radius: 7px;
    border: 2px solid lightgray;
    font-size: 20px;
    padding-left: 20px;
    outline-color: #5189e2;

}

#facebook_password{
    margin-top: 16px;
}

#login_button{
    width: 468px;
    height: 65px;
    margin: 20px 0px 0px 16px;
    border-radius: 7px;
    border: 2px solid lightgray;
    font: 25px Helvetica,Arial, sans-serif;
    background-color: #0866ff;
    color: white; 
}
#forgotten_password_a_id{
    color: #0866ff;
    text-decoration: none;
    font: 18px Helvetica,Arial,sans-serif;
    margin-left: 163px;
}

#line{
    margin: auto;
    border: 1px solid lightgray;
    height: 0px;
    width: 90%;
}

#create_new_account{
    width: 240px;
    height: 62px;
    border-radius: 7px;
    margin: 40px 0px 0px 125px;
    font: 20px Helvetica,Arial, sans-serif;
    background-color: #42B72A;
    color: white;
    border: #42B72A;  
}
#create_page_para{
    margin-left: 40px;
    font: 18px Helvetica,Arial, sans-serif;
}

/* #facebook_logo_container{
    width: 300px;
    height: 100px;
    border: 2px solid blue;
    position: absolute;
    margin-top: 120px;
} */
#facebook_logo{
    width: 390px;
    margin-top: 110px;
    position: absolute;
}

#about_facebook_h_container{
    width: 600px;
    height: 100px;
    margin-top: 200px;
    position: absolute;
    /* border: 2px solid black;  */
}
#facebook_h2{
    font: 32px Helvetica,Arial, sans-serif;
    margin: 5px 0px 0px 35px;
}
